{*
    Place common changes that should be present on all pages in
    this file - for example, a logo image in the header

    {block header/logo}
        <a href="/">
            <img src="/img/logo.svg" width="..." height=".." />
        </a>
    {/block}
*}