.grid-view, .matrix-grid-view {
    a, a:visited, a:active, a:hover {
        text-decoration: none;
    }

    .form-inline .help-block:empty {
        display: none
    }

    .toolbar {
        margin-bottom: 5px;

        .half-width {
            width: 50%;
        }

        & > div > {
            .btn + .btn, .btn + span, span + .btn, span + span {
                margin-left: 5px;
            }
        }
    }
}

.grid-view {

    .table {
        margin-bottom: 0;

        thead, tbody, tfoot {
            tr {
                &.no_active {
                    opacity: 0.3;
                }

                &.ui-sortable-helper {
                    display: table;
                    background: #fff;
                }

                &.ui-state-highlight {
                    background: #fffa90;
                }

                th {
                    vertical-align: top;
                }

                th.no-wrap {
                    white-space: nowrap;
                }
            }

            & > tr.filters {
                & > td, & > th {
                    padding: 4px;

                    input.form-control {
                        padding-left: 4px;
                        padding-right: 4px;
                        height: 28px;
                    }
                }
            }
        }
    }

    .summary {text-align: right}
    .not-wrap {white-space: nowrap}
    .action-column {
        white-space: nowrap;
        text-align: center;

        &-one {width: 20px;}
        &-too {width: 40px;}
        &-three {width: 60px;}
    }

    .checkbox-column {
        width: 20px;
    }

    .not-set {
        color: #ccc;
    }

    .actions {
        .btn:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    @for $i from 1 through 40 {
        .column-width-#{$i * 10} {
            width: #{$i * 10}px;
            max-width: #{$i * 10}px;
        }
    }

    .truncate-text {
        max-width: 200px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .action-link-column-with-second-link {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bi {
            margin-left: 0.5rem;
        }
    }

    @for $i from 1 through 40 {
        .truncate-text-#{$i * 10} {max-width: #{$i * 10}px;}
    }

    [data-role='drag-icon'] {
        cursor: grab;
        cursor: move;
    }
}

.search-form {
    margin-bottom: 10px;

    .help-block:empty {
        display: none;
    }

    .form-group {
        margin-right: 5px;
    }
}