form label.control-label { color: #0000008f; }
form .required label.control-label { margin-right: 0; }
form .required label.control-label::before { content: '*'; color: #ff0000; font-size: 13px; line-height: 12px; margin-right: 5px; font-family: monospace; position: relative; top: -5px; }
form .required.no-required label.control-label::before { content: ''; margin-right: 0; }
form .input-with-checkbox { width: 50%; display: inline-block; margin-right: 10px; }
form .hint-block { display: block; margin-top: 5px; color: #999; }
form .error-summary { color: #a94442; background: #fdf7f7; border-left: 3px solid #eed3d7; padding: 10px 20px; margin: 0 0 15px 0; }
form .not-set { color: #c55; font-style: italic; }
form fieldset legend .btn { margin-left: 5px; }

.scroll, .scroll-shot, .scroll-medium { overflow-y: auto; overflow-x: hidden; }

.scroll-shot { max-height: 100px; }

.scroll-medium { max-height: 300px; }

.image-input .dropzone { min-height: 74px; }
.image-input .dropzone .dropzone-inner img { width: 100px; }

.file-upload-control { padding-top: 9px; }

.widget-file-input input[type="file"] { display: inline-block; }
.widget-file-input span { cursor: pointer; }
.widget-file-input a { display: inline-block; margin-right: 10px; margin-bottom: 10px; }
.widget-file-input a.drop { text-decoration: line-through; }

.bottom-buttons .btn { margin-right: 10px; }
.bottom-buttons .btn:last-child { margin-right: 0; }
