h1.main-title {
    margin-bottom: 0.5em;

    .btn + .btn {
        margin-left: 5px;
    }
}

h1.main-title {
    margin-bottom: 20px;

    & > a {position: relative; top: 5px;}
    & > span {
        color: #5cb85c;

        &:after, &:before {
            color: #a0a3a0;
            font-size: 40px;
        }

        &:after, &:before {
            content: "\00BB";
        }

        &:before {
            content: "\00AB";
        }
    }
}