main .row:last-child {margin-bottom: 1em;}

.breadcrumb {margin: 0;}

.main-title h1 span.with-quota, .breadcrumb a span.with-quota {
    &::before, &::after {
        color: var(--bs-gray);
    }

    &::before {
        content: "«";
    }

    &::after {
        content: "»";
    }
}

.main-title {

    h1 {
        margin-top: 0;
        margin-bottom: 0.5em;
        overflow: hidden;

        & > a {
            position: relative;
            top: 5px;
        }
    }

    .buttons-right {
        margin-top: 0.4em;
        float: right;
        padding-left: 1em;

        .inline-dropdown {
            display: inline;
        }
    }

    .btn + .btn, .btn + .inline-dropdown, .inline-dropdown + .btn {
        margin-left: 5px;
    }
}