.main-title {

    h1 {
        margin-top: 0;
        margin-bottom: 0.5em;
        overflow: hidden;

        & > a {
            position: relative;
            top: 5px;
        }

        & > span {
            color: #5cb85c;

            &.with-quota {
                &:after, &:before {
                    color: #a0a3a0;
                    font-size: 40px;
                }

                &:after {
                    content: "\00BB";
                }

                &:before {
                    content: "\00AB";
                }
            }
        }
    }

    .buttons-right {
        margin-top: 0.4em;
        float: right;
        padding-left: 1em;
    }

    .btn + .btn {
        margin-left: 5px;
    }
}