.grid-view, .matrix-grid-view {
    .form-inline .help-block:empty {
        display: none
    }

    .toolbar {
        margin-bottom: 5px;

        .half-width {
            width: 50%;
        }

	& > div > {
		.btn + .btn, .btn + span, span + .btn, span + span {
			margin-left: 5px;
		}
	}
    }

    .table {
        margin-bottom: 0;

        thead, tbody, tfoot {
            tr {
                &.no_active {
                    opacity: 0.3;
                }

                &.ui-sortable-helper {
                    display: table;
                    background: #fff;
                }

                &.ui-state-highlight {
                    background: #fffa90;
                }

                th {
                    vertical-align: top;
                }

                th.no-wrap {
                    white-space: nowrap;
                }
            }

            & > tr.filters {
                & > td, & > th {
                    padding: 4px;

                    .form-control {
                        padding-left: 4px;
                        padding-right: 4px;
                        height: 28px;
                    }
                }
            }
        }
    }

    /* add sorting icons to gridview sort links */
    a.asc:after, a.desc:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        padding-left: 5px;
    }

    a.asc:after {
        content: /*"\e113"*/ "\e151";
    }

    a.desc:after {
        content: /*"\e114"*/ "\e152";
    }

    .sort-numerical a.asc:after {
        content: "\e153";
    }

    .sort-numerical a.desc:after {
        content: "\e154";
    }

    .sort-ordinal a.asc:after {
        content: "\e155";
    }

    .sort-ordinal a.desc:after {
        content: "\e156";
    }

    .summary {text-align: right}
    .not-wrap {white-space: nowrap}
    .action-column {
        white-space: nowrap;
        text-align: center;

        &-one {width: 20px;}
        &-too {width: 40px;}
        &-three {width: 60px;}
    }

    @for $i from 1 through 5 {
        .column-width-#{$i * 10} {width: #{$i * 10}px;}
    }

    .checkbox-column {
        width: 20px;
    }

    .not-set {
        color: #ccc;
    }

    .truncate-text {
        max-width: 200px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actions {
        .btn:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.search-form {
    margin-bottom: 10px;

    .help-block:empty {
        display: none;
    }

    .form-group {
        margin-right: 5px;
    }
}
